.wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top-right-radius: 600rem;
    border-bottom-right-radius: 600rem;
    background-color: var(--orange);
    padding: 1rem;
    padding-left: 2rem;
    width: 25%;
    max-width: 12rem;
    gap: 3rem;
}

.container{
    max-width: 1200px;
    margin: auto;
}
.mobileItem{
    transition: 1s cubic-bezier(0, 0, 0.165, 1);
}
@media screen and (max-width: 600px){
    .container{
        display: flex;
        align-items: center;
    }
    .wrapper{
        min-width: 40%;
        max-width: unset;
    }
}